header{
    background-color: palevioletred;
    font-size: 30px;
    text-align: left;
    height: 80px;
    color: white;
    padding:'10px' ;
    box-sizing: border-box;
    padding: 15px;
    }
    